In [1]:
import pandas as pd 
import yfinance as yf 
from datetime import datetime, timedelta
from fredapi import Fred

In [2]:
fred_key = '3932ed65675a268ca1a4e0e68b10fa9b'
fred = Fred(api_key=fred_key)

In [3]:
# Setting the start and end date 
end_date = datetime.today()
start_date = end_date - timedelta(days=500*365)
print(start_date)

1525-01-20 12:43:20.831377

In [4]:
oil_api_keys = {
    "libya":"LBYNGDPMOMBD",
    "kazak":"KAZNGDPMOMBD",
    "qatar":"QATNGDPMOMBD",
    "iran":"IRNNGDPMOMBD",
    "kuwait":"KWTNGDPMOMBD",
    "uae":"ARENGDPMOMBD",
    "saudi":"SAUNGDPMOMBD",
    "iraq":"IRQNGDPMOMBD"
}

In [5]:
financial_api_keys = {
    "crude_price":"CL=F",
    "sp_500":"ES=F",
    "vix":"^VIX",
    "usd":"DX=F",
}

In [6]:
def get_oil_data(key):
    dataframes = []
    for i in key: 
        df = pd.DataFrame({f"{i}_oil_production":fred.get_series(f'{key[i]}')})
        dataframes.append(df)

    return dataframes

In [7]:
def get_financial_data(key,start,end):
    dataframes = []
    for i in key: 
        df = pd.DataFrame({f"{i}":yf.download(f"{key[i]}", start=start, end=end)['Adj Close']})
        dataframes.append(df)

    return dataframes

In [8]:
oil_df = get_oil_data(oil_api_keys)
oil_df

[            libya_oil_production
 2000-01-01          1.469428e+06
 2001-01-01          1.427842e+06
 2002-01-01          1.383184e+06
 2003-01-01          1.805719e+06
 2004-01-01          1.582475e+06
 2005-01-01          1.721293e+06
 2006-01-01          1.809577e+06
 2007-01-01          1.844703e+06
 2008-01-01          1.781000e+06
 2009-01-01          1.623000e+06
 2010-01-01          1.688000e+06
 2011-01-01          4.600000e+05
 2012-01-01          1.390000e+06
 2013-01-01          9.000000e+05
 2014-01-01          4.602740e+05
 2015-01-01          4.000000e+05
 2016-01-01          3.901644e+05
 2017-01-01          8.100000e+05
 2018-01-01          9.673633e+05
 2019-01-01          1.100000e+06
 2020-01-01          3.000000e+05
 2021-01-01          1.206667e+06
 2022-01-01          1.001250e+06
 2023-01-01          1.179167e+06
 2024-01-01          1.300000e+06
 2025-01-01          1.400000e+06,
             kazak_oil_production
 2000-01-01          7.270479e+05
 2001-01-01          8.064699e+05
 2002-01-01          9.721012e+05
 2003-01-01          1.057212e+06
 2004-01-01          1.222233e+06
 2005-01-01          1.263415e+06
 2006-01-01          1.335430e+06
 2007-01-01          1.380822e+06
 2008-01-01          1.452740e+06
 2009-01-01          1.541096e+06
 2010-01-01          1.643836e+06
 2011-01-01          1.664384e+06
 2012-01-01          1.627397e+06
 2013-01-01          1.678767e+06
 2014-01-01          1.660274e+06
 2015-01-01          1.623288e+06
 2016-01-01          1.602740e+06
 2017-01-01          1.771233e+06
 2018-01-01          1.855479e+06
 2019-01-01          1.857534e+06
 2020-01-01          1.760959e+06
 2021-01-01          1.760620e+06
 2022-01-01          1.729336e+06
 2023-01-01          1.848760e+06
 2024-01-01          1.855479e+06
 2025-01-01          2.116438e+06,
             qatar_oil_production
 2000-01-01           688493.1507
 2001-01-01           680000.0000
 2002-01-01           694246.5753
 2003-01-01           720547.9452
 2004-01-01           752100.0000
 2005-01-01           763186.0000
 2006-01-01           751839.0000
 2007-01-01           793381.0000
 2008-01-01           836860.0000
 2009-01-01           794610.9589
 2010-01-01           788692.8740
 2011-01-01           744700.0000
 2012-01-01           732123.5616
 2013-01-01           697774.5411
 2014-01-01           673052.0932
 2015-01-01           636438.3562
 2016-01-01           645988.3043
 2017-01-01           607394.2521
 2018-01-01           599158.6137
 2019-01-01           579167.5123
 2020-01-01           565000.0000
 2021-01-01           551000.0000
 2022-01-01           574000.0000
 2023-01-01           574000.0000
 2024-01-01           580000.0000
 2025-01-01           580000.0000,
             iran_oil_production
 2000-01-01         3.661000e+06
 2001-01-01         3.571700e+06
 2002-01-01         3.248200e+06
 2003-01-01         3.754000e+06
 2004-01-01         3.990000e+06
 2005-01-01         4.014000e+06
 2006-01-01         4.040000e+06
 2007-01-01         4.094000e+06
 2008-01-01         3.942917e+06
 2009-01-01         3.725000e+06
 2010-01-01         3.688000e+06
 2011-01-01         3.621000e+06
 2012-01-01         2.800000e+06
 2013-01-01         2.709083e+06
 2014-01-01         2.764500e+06
 2015-01-01         2.920917e+06
 2016-01-01         3.675333e+06
 2017-01-01         3.814750e+06
 2018-01-01         3.468889e+06
 2019-01-01         2.193000e+06
 2020-01-01         2.024333e+06
 2021-01-01         2.482500e+06
 2022-01-01         2.564583e+06
 2023-01-01         3.117986e+06
 2024-01-01         3.194986e+06
 2025-01-01         3.267751e+06,
             kuwait_oil_production
 2000-01-01                    NaN
 2001-01-01                    NaN
 2002-01-01           1.745866e+06
 2003-01-01           2.107616e+06
 2004-01-01           2.294945e+06
 2005-01-01           2.573359e+06
 2006-01-01           2.644485e+06
 2007-01-01           2.574644e+06
 2008-01-01           2.683386e+06
 2009-01-01           2.261603e+06
 2010-01-01           2.312123e+06
 2011-01-01           2.698518e+06
 2012-01-01           2.977384e+06
 2013-01-01           2.922093e+06
 2014-01-01           2.866559e+06
 2015-01-01           2.858685e+06
 2016-01-01           2.954140e+06
 2017-01-01           2.704236e+06
 2018-01-01           2.736603e+06
 2019-01-01           2.677655e+06
 2020-01-01           2.437381e+06
 2021-01-01           2.414956e+06
 2022-01-01           2.707038e+06
 2023-01-01           2.590667e+06
 2024-01-01           2.480500e+06
 2025-01-01           2.599564e+06,
             uae_oil_production
 2000-01-01        2.190000e+06
 2001-01-01        2.120000e+06
 2002-01-01        1.930000e+06
 2003-01-01        2.260000e+06
 2004-01-01        2.330000e+06
 2005-01-01        2.380000e+06
 2006-01-01        2.600000e+06
 2007-01-01        2.530000e+06
 2008-01-01        2.618000e+06
 2009-01-01        2.242000e+06
 2010-01-01        2.324000e+06
 2011-01-01        2.564000e+06
 2012-01-01        2.653000e+06
 2013-01-01        2.797000e+06
 2014-01-01        2.788274e+06
 2015-01-01        2.875000e+06
 2016-01-01        3.034829e+06
 2017-01-01        2.936990e+06
 2018-01-01        3.005000e+06
 2019-01-01        3.060765e+06
 2020-01-01        2.771596e+06
 2021-01-01        2.632083e+06
 2022-01-01        3.065250e+06
 2023-01-01        2.951000e+06
 2024-01-01        2.994750e+06
 2025-01-01        3.150477e+06,
             saudi_oil_production
 2000-01-01          8.090000e+06
 2001-01-01          7.890000e+06
 2002-01-01          7.090000e+06
 2003-01-01          8.410000e+06
 2004-01-01          8.900000e+06
 2005-01-01          9.350000e+06
 2006-01-01          9.210000e+06
 2007-01-01          8.820000e+06
 2008-01-01          9.200000e+06
 2009-01-01          8.180000e+06
 2010-01-01          8.170000e+06
 2011-01-01          9.310000e+06
 2012-01-01          9.760000e+06
 2013-01-01          9.630000e+06
 2014-01-01          9.710000e+06
 2015-01-01          1.019000e+07
 2016-01-01          1.046000e+07
 2017-01-01          9.950000e+06
 2018-01-01          1.031000e+07
 2019-01-01          9.810000e+06
 2020-01-01          9.217085e+06
 2021-01-01          9.125000e+06
 2022-01-01          1.058850e+07
 2023-01-01          9.612583e+06
 2024-01-01          9.266582e+06
 2025-01-01          1.029404e+07,
             iraq_oil_production
 2000-01-01         2.525000e+06
 2001-01-01         2.253000e+06
 2002-01-01         1.823000e+06
 2003-01-01         1.160841e+06
 2004-01-01         2.021753e+06
 2005-01-01         1.858768e+06
 2006-01-01         1.956823e+06
 2007-01-01         2.035000e+06
 2008-01-01         2.285083e+06
 2009-01-01         2.335167e+06
 2010-01-01         2.381250e+06
 2011-01-01         2.652917e+06
 2012-01-01         2.950000e+06
 2013-01-01         2.978917e+06
 2014-01-01         3.141139e+06
 2015-01-01         3.718019e+06
 2016-01-01         4.633250e+06
 2017-01-01         4.469250e+06
 2018-01-01         4.410083e+06
 2019-01-01         4.575917e+06
 2020-01-01         3.997910e+06
 2021-01-01         3.971478e+06
 2022-01-01         4.449500e+06
 2023-01-01         4.118417e+06
 2024-01-01         4.110000e+06
 2025-01-01         4.393020e+06]

In [9]:
usa_oil_production = pd.read_csv('../data/usa_crude_oil_production.csv')
usa_oil_production = usa_oil_production.sort_values(['Month'],ascending=True)
usa_oil_production.rename(columns={'U.S. Field Production of Crude Oil Thousand Barrels per Day':'usa_oil_production'},inplace=True)
usa_oil_production['Month'] = pd.to_datetime(usa_oil_production['Month'], format='%b %Y').dt.strftime('%Y-%m-%d')
usa_oil_production.set_index('Month', inplace=True)
usa_oil_production.rename_axis('Date',inplace=True)
usa_oil_production['usa_oil_production'] = usa_oil_production['usa_oil_production']*1000 
usa_oil_production.index= usa_oil_production.index.astype('datetime64[ns]')
usa_oil_production

            usa_oil_production
Date
1920-04-01             1165000
1921-04-01             1341000
1922-04-01             1506000
1923-04-01             1967000
1924-04-01             1994000
...                        ...
2019-09-01            12584000
2020-09-01            10926000
2021-09-01            10921000
2022-09-01            12439000
2023-09-01            13177000

[1253 rows x 1 columns]

In [10]:
financial_df = get_financial_data(financial_api_keys,start_date,end_date)
financial_df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[            crude_price
 Date
 2000-08-23    32.049999
 2000-08-24    31.629999
 2000-08-25    32.049999
 2000-08-28    32.869999
 2000-08-29    32.720001
 ...                 ...
 2024-09-13    68.650002
 2024-09-16    70.089996
 2024-09-17    71.190002
 2024-09-18    70.910004
 2024-09-19    71.949997

 [6044 rows x 1 columns],
              sp_500
 Date
 2000-09-18  1467.50
 2000-09-19  1478.50
 2000-09-20  1469.50
 2000-09-21  1469.50
 2000-09-22  1468.50
 ...             ...
 2024-09-16  5638.00
 2024-09-17  5639.00
 2024-09-18  5620.75
 2024-09-19  5717.75
 2024-09-20  5702.50

 [6064 rows x 1 columns],
                   vix
 Date
 1990-01-02  17.240000
 1990-01-03  18.190001
 1990-01-04  19.219999
 1990-01-05  20.110001
 1990-01-08  20.260000
 ...               ...
 2024-09-16  17.139999
 2024-09-17  17.610001
 2024-09-18  18.230000
 2024-09-19  16.330000
 2024-09-20  15.930000

 [8747 rows x 1 columns],
                    usd
 Date
 2000-06-22  107.400002
 2000-06-23  107.720001
 2000-06-26  107.769997
 2000-06-27  106.980003
 2000-06-28  107.250000
 ...                ...
 2024-09-13  101.120003
 2024-09-16  100.710999
 2024-09-17  100.567001
 2024-09-18  100.281998
 2024-09-19  100.320999

 [6123 rows x 1 columns]]

In [11]:
# Importing oil consumption data 
world_oil_consumption = pd.read_csv("../data/world_oil_consumption.csv")
world_oil_consumption.rename(columns={"Oil consumption - TWh":"world_oil_consumption"},inplace=True)
world_oil_consumption.drop(world_oil_consumption[world_oil_consumption['Entity'] != "World"].index, inplace=True)
world_oil_consumption.drop(columns={'Entity','Code'},inplace=True)