# Feature Engineering

The exploratory data analysis section showed that oil producing countries have a high correlation to each other. To simplify our features all oil producers will be averaged and combined into a single feature

# Imports

In [8]:
import pandas as pd
import sys 
import os 

# Manually add path to read from another folder 
path2add = os.path.normpath(
    os.path.abspath(os.path.join(os.path.dirname("__file__"), os.path.pardir, "utils"))
)
if not (path2add in sys.path):
    sys.path.append(path2add)

from cleaning import oil_api_keys
from feature_engineering import *
from eda import *

In [9]:
features_df = pd.read_csv("../data/cleaned_dataset.csv")
features_df.set_index(features_df['Date'],inplace=True)
features_df.drop(columns='Date',inplace=True)

In [10]:
features_df.head()

,crude_price,sp_500,vix,usd,libya_oil_production,kazak_oil_production,qatar_oil_production,iran_oil_production,kuwait_oil_production,uae_oil_production,saudi_oil_production,iraq_oil_production,usa_oil_production,world_oil_consumption
Date,,,,,,,,,,,,,,
2002-01-01,20.605000,1155.2500,22.270000,117.885000,1.383184e+06,972101.1616,694246.5753,3248200.0,1.745866e+06,1930000.0,7090000.0,1823000.0,5873000.0,43650.734
2002-01-02,21.010000,1154.0000,22.709999,116.269997,1.383184e+06,972101.1616,694246.5753,3248200.0,1.745866e+06,1930000.0,7090000.0,1823000.0,5873000.0,43650.734
2002-01-03,20.370001,1166.7500,21.340000,116.540001,1.383184e+06,972101.1616,694246.5753,3248200.0,1.745866e+06,1930000.0,7090000.0,1823000.0,5873000.0,43650.734
2002-01-04,21.620001,1175.2500,20.450001,116.750000,1.383184e+06,972101.1616,694246.5753,3248200.0,1.745866e+06,1930000.0,7090000.0,1823000.0,5873000.0,43650.734
2002-01-05,20.710001,1161.3125,22.075000,116.692499,1.383184e+06,972101.1616,694246.5753,3248200.0,1.745866e+06,1930000.0,7090000.0,1823000.0,5873000.0,43650.734

Averaging all the oil producing countries' to create a new feature

In [11]:
features_df = oil_production_feature(features_df, oil_api_keys)
features_df

,crude_price,sp_500,vix,usd,world_oil_consumption,world_oil_production
Date,,,,,,
2002-01-01,20.605000,1155.2500,22.270000,117.885000,43650.734,2.751066e+06
2002-01-02,21.010000,1154.0000,22.709999,116.269997,43650.734,2.751066e+06
2002-01-03,20.370001,1166.7500,21.340000,116.540001,43650.734,2.751066e+06
2002-01-04,21.620001,1175.2500,20.450001,116.750000,43650.734,2.751066e+06
2002-01-05,20.710001,1161.3125,22.075000,116.692499,43650.734,2.751066e+06
...,...,...,...,...,...,...
2023-01-03,76.930000,3846.0000,22.900000,104.311996,53494.272,4.289287e+06
2023-01-04,72.839996,3874.5000,22.010000,104.021004,53561.130,4.289287e+06
2023-01-05,73.669998,3829.0000,22.459999,104.828003,53672.560,4.289287e+06
2023-01-06,73.769997,3915.5000,21.129999,103.646004,53895.420,4.289287e+06
2023-01-07,74.302498,3866.2500,22.125000,104.201752,54564.000,4.289287e+06

To eliminate any noise from the data, the 7 day rolling average will be taken

In [13]:
features_df = rolling_mean_feature(features_df, 7)
features_df

,crude_price,sp_500,vix,usd,world_oil_consumption,world_oil_production
Date,,,,,,
2002-01-13,20.798510,1161.553827,21.944918,116.974010,43650.734000,2.751066e+06
2002-01-14,20.697755,1160.368622,22.026225,117.023113,43650.734000,2.751066e+06
2002-01-15,20.535878,1158.708929,22.134265,117.095174,43650.734000,2.751066e+06
2002-01-16,20.364000,1156.452296,22.281082,117.155806,43650.734000,2.751066e+06
2002-01-17,20.144163,1153.833418,22.404837,117.217867,43650.734000,2.751066e+06
...,...,...,...,...,...,...
2023-01-03,78.760877,3852.691071,21.612786,103.842673,53323.261061,4.313749e+06
2023-01-04,78.725102,3853.137755,21.668775,103.805978,53367.378245,4.311473e+06
2023-01-05,78.574225,3852.252806,21.756398,103.805672,53420.591755,4.308629e+06
2023-01-06,78.276612,3852.658673,21.816673,103.828183,53487.449755,4.305215e+06
2023-01-07,77.837194,3853.728316,21.877704,103.866484,53581.596735,4.301233e+06

In [14]:
features_df.to_csv('../data/feature_engineered_dataset.csv')

# Summary

- Two new features were created to improve the machine learning models' accuracy. 
- Oil production data was averaged to decrease the model having an over reliance on a single country and to smooth the data volatility. 
- The 7 day rolling mean was created to smooth data volatility.